/* ~~~~~~~~~~~~~~~~~~~~

All Homepage Sections

~~~~~~~~~~~~~~~~~~~~~~ */

.corner-symbols {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: -1;

  .symbol-1,
  .symbol-2,
  .symbol-3,
  .symbol-4,
  .globe-1,
  .globe-2 {
    position: absolute;
  }

  .globe-1,
  .globe-2 {
    img {
      width: 80px;
      height: auto;
    }
  }

  .symbol-1 {
    top: 27px;
    left: 27px;
  }

  .symbol-2 {
    top: 27px;
    right: 27px;
  }

  .symbol-3 {
    bottom: 27px;
    left: 27px;
  }

  .symbol-4 {
    bottom: 27px;
    right: 27px;
  }

  .globe-1 {
    left: 27px;
    top: calc(50% - 40px);
  }

  .globe-2 {
    right: 27px;
    top: calc(50% - 40px);
  }

  @include for-phone-only {
    display: none;
  }

  @include for-desktop-down {

    .symbol-1,
    .symbol-2,
    .symbol-3,
    .symbol-4 {
      width: 57.5px;
      height: 57.5px;
    }

    .globe-1,
    .globe-2 {
      img {
        width: 40px;
        height: auto;
      }
    }
  }

}

nav.c-logo {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 27px;

  @include for-desktop-down {
    padding-bottom: 27px;

    img {
      width: 100px;
      height: 100%;
    }
  }

  @include for-phone-only {
    display: none;
  }

}


.l-player--wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 2;
}

.c-player {
  min-height: 488px;
  display: flex;
  position: relative;

  @include for-phone-only {
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
}

.player--container {
  min-height: 488px;
  height: 488px;
  min-width: 360px;
  display: flex;
  flex-flow: column;

  @include for-phone-only {
    width: 100%;
    height: unset;

    .player--art {
      height: 70vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .player--art img {
      width: 80%;
      height: auto;
      max-width: unset;
    }
  }
}

.player--controls {
  background-color: var(--black);
  flex: 1;
  position: relative;

  @include for-phone-only {
    height: 30vh;
    flex: unset;
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    justify-items: center;
  }

  .text--track__number {
    position: absolute;
    top: 10px;
    left: 10px;
    letter-spacing: 2px;
    font-size: 13px;
  }

  .player-progress--bar {
    width: 100%;
    overflow: hidden;
    height: 6px;
    position: absolute;
    bottom: 0;
  }

  .player-progress--wrapper {
    width: 360px;
    display: flex;

    @include for-phone-only {
      width: 100%;
    }
  }

  .color-1,
  .color-2,
  .color-3,
  .color-4 {
    width: 25%;
    height: 6px;
  }

  .color-1 {
    background-color: #0002EC;
  }

  .color-2 {
    background-color: #EA00EB;
  }

  .color-3 {
    background-color: #E70001;
  }

  .color-4 {
    background-color: #ED8605;
  }

  .player--buttons {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include for-phone-only {
      margin-top: 30px;
      align-items: center;
    }
  }

  button.play-button {
    width: 64px;
    height: 64px;
    margin: 0 20px;
  }

  button.seek-button--right,
  button.seek-button--left {
    width: 32px;
    height: 32px;
  }

  .seek-button--right img {
    transform: rotate(180deg);
    transform-origin: center;
  }

  button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 0;
    background-color: var(--white);
    margin: 0;
    padding: 0;
  }

  button>img {
    display: block;
    pointer-events: none;
  }
}

.player--art img {
  max-width: 360px;
  width: 360px;
  height: auto;
  display: block;
}

.text--container {
  position: absolute;
  display: flex;
  transform: rotate(90deg);
  transform-origin: top left;
  top: 10px;
  right: -140%;
  width: 468px;
  justify-content: space-between;

  @include for-phone-only {
    display: none;
  }
}

// Mobile version of the text container
// ! Need to add this to the JS

.m-text--container {
  display: none;
  position: absolute;
  justify-content: space-between;
  bottom: 14px;
  right: 0;
  width: 100vw;
  padding: 0 10px;

  .txt--base {
    font-size: 13px;
    color: #ffffff;
  }

  @include for-phone-only {
    display: flex;
  }
}

.text--artist,
.text--track,
.text--time__elapsed,
.text--time__divider,
.text--time__total,
.m-text--artist,
.m-text--track,
.m-text--time__elapsed,
.m-text--time__divider,
.m-text--time__total {
  display: inline;
}